<div class="container-sm">
    <h1 class="display-1 text-center">How to?</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <p class="lead"><span class="display-6">Step 1: </span> Head to <a href="https://github.com/settings/tokens">GitHub Settings</a> and click on <mark>Generate Token</mark></p>
            <img src="assets/1.jpg" class="rounded mx-auto d-block img-fluid" alt="Step 1" />
        </li>
        <li class="list-group-item">
            <p class="lead"><span class="display-6">Step 2: </span> Check <mark>repo</mark> and <mark>delete_repo</mark> checkboxes and click on <mark>Generate Token</mark></p>
            <img src="assets/2.jpg" class="rounded mx-auto d-block img-fluid" alt="Step 2" />
        </li>
        <li class="list-group-item">
            <p class="lead"><span class="display-6">Step 3: </span> Copy the generated <mark>token</mark> and paste it in <a href="">Scrub page</a></p>
            <img src="assets/3.jpg" class="rounded mx-auto d-block img-fluid" alt="Step 3" />
        </li>
    </ul>
</div>
